<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.4.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>AmazeUI CDN</Title>
      <Author>Ming Luo</Author>
      <Description>A full tag with a amazeui src.</Description>
      <HelpUrl></HelpUrl>
      <Shortcut>amazeuicdn</Shortcut>
    </Header>
    <Snippet>
      <Code Language="html">
        <![CDATA[
    <link href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.css" rel="stylesheet" />
    <script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.js" ></script>
    <script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.ie8polyfill.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.widgets.helper.js"></script>
    <!-- min -->
    <link href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.min.css" rel="stylesheet" />
    <script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.ie8polyfill.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.widgets.helper.min.js"></script>
        $end]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>